/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
@media (width < 768px){
    html{
        font-family:Arial, Helvetica, sans-serif ;
    }
    nav{
        margin: 0;
        background-color:#540B51 ;
        display: flex;
        justify-content: space-between;
       
    }
    .navbar{
        display: none;
        
    }

    .nav-button{
        display: flex;

    }
    .nav-img{
        width: 30px;
        background-color:  #540B51;
        border: none;

    }
    header{
        background-color: #540B51;
        margin: 0;
        
    }
    h1{
        color: white;
        font-size: 50px;
        margin-bottom: 10px;

    }
    .header-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .header-div p{
        color: white;
        margin-top: 0;
    }
    .orange-span{
        color: #ECB12F;
    }
    .header-button{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin: 0 20px;
        

    }
    .header-image{
        width: 100%;
    }
    .google-img img{
        height:40px;
        background-color:#F3EAE2;
        border-radius: 3px;
        position: absolute;
        left: 6px;
        top: 6px;
    }
    .email-button{
        height: 60px;
        border-radius: 10px;
    }
    .google-button{
        position: relative;
        background-color:#4285F4 ;
        height: 60px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .companies{
        position: relative;
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
        background-color: #F3EAE2;
        
        
        
    }
    .logos{
        row-gap: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .logos img{
        height: 60px;
    }
    main {
   position: relative;
    margin: 0;
    }
    .companies p {
        position: absolute;
        font-size: 27px;
        font-weight: bold;
        top: 0;
        right: 70px;
    }
    .teams li {
        text-align: center;
        list-style-type: none;
    }
    .teams h3, .teams p {
        text-align: center;
        
    }
    .teams h3 {
        color: #540B51;
        font-size: 40px;
        margin-bottom: 15px;
    }
    .teams p{
        margin-top: 0;
        font-size: 20px;
    }
    .teams span {
        color: #540B51;
        font-size: 60px;
        font-weight: bold;
    }
    .teams li p{
        font-weight: bold;
    }
    .teams ul {
        padding: 0 110px
    }   
    .welcome {
        padding: 30px 0 60px 0;
        background-color: #540B51;
    }
    .welcome h3{
        color: white;
        text-align: center;
        font-size: 35px;
    }
    .welcome-button {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .welcome-button button {
        margin: auto 30px;
        height: 45px;
        border-radius: 5px;
    }
    #button1 {
        color: #540B51;
        font-size: 20px;
        text-transform: uppercase;
    }
    #button2 {
        border: white solid 1px;
        background-color: #540B51;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
    }
    .list{
        list-style-type: none;
        font-weight: bold;
        
    }
    .list li {
        padding-bottom: 10px;
        
    }
  .icon{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  footer ul {
    padding: 10px;
  }
  footer ul li a {
    text-decoration: none;
  }
}
    